<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 Cases</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="css/leaflet.awesome-markers.css">
    <script src="js/leaflet.awesome-markers.js"></script>

    <link rel="stylesheet" href="css/all.min.css">
    <script src="js/all.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style>

        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
        }
        #mapid {
            height: calc(100% - 55px); ;
            top: -20px;
            left: 0;
            width: 100%;
        }
        #navbar navbar-inverse{
            position: absolute;
            height: 75px;
        }
        .toggle.btn {
            margin-top: 8px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Covid-19 World Cases</a>
        </div>
        <ul class="nav navbar-nav">
            <input id="dateOfData" type="checkbox" checked data-toggle="toggle" data-on="Today" data-off="Yesterday">
        </ul>
    </div>
</nav>

<div id="mapid"></div>

    <script th:inline="javascript">

        var layerGroupToday;
        var layerGroupYesterday;
        $(function() {
            $('#dateOfData').change(function() {
                console.log($(this).prop("checked"));
                if($(this).prop("checked") === true){
                    map.removeLayer(layerGroupYesterday);
                    layerGroupToday.addTo(map);
                }else{
                    map.removeLayer(layerGroupToday);
                    layerGroupYesterday.addTo(map);
                }
            })
        })


        var points = [[${points}]]

        var pointsYesterday = [[${pointsYesterday}]]

        var map = L.map('mapid').setView([111.591, 11.659], 5);

        layerGroupToday = L.layerGroup().addTo(map);
        layerGroupYesterday = L.layerGroup().addTo(map);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            noWrap: true,
            minZoom: 2.5
        }).addTo(map);

        var southWest = L.latLng(-89.98155760646617, -180),
            northEast = L.latLng(89.99346179538875, 180);
        var bounds = L.latLngBounds(southWest, northEast);

        map.setMaxBounds(bounds);
        function markerColor(casesPerOneMillion){
            if (casesPerOneMillion <= 50)
                return 'FFD1A9';
            else if (casesPerOneMillion >50 && casesPerOneMillion<=100)
                return 'FF9E79';
            else if (casesPerOneMillion >100 && casesPerOneMillion<=500)
                return 'FB6D4C';
            else if (casesPerOneMillion >500 && casesPerOneMillion<=1000)
                return 'C23B22';
            else if (casesPerOneMillion >1000 && casesPerOneMillion<2000)
                return 'BA000';
            else if (casesPerOneMillion>=2000)
                return '58000';
        }

        function getMarker(color) {
            var marker = L.AwesomeMarkers.icon({
                markerColor: color,
                icon: 'alert',
                iconColor: 'black'
            });
            return marker;
        }

        points.forEach(function (value) {
            //console.log(value.lat + " " + value.lon);
            var markerColorVar = markerColor(value.casesPerOneMillion);

            var  marker = getMarker(markerColorVar);

            L.marker([value.lat, value.lon], {icon: marker}).addTo(layerGroupToday)
                .bindPopup("<b><center>" + value.country + "</b></center>" + "<br> Cases: " + value.cases + "<br>Cases/1M pop: " + value.casesPerOneMillion)
                .openPopup()
        })

        pointsYesterday.forEach(function (value) {
            //console.log(value.lat + " " + value.lon);
            var markerColorVar = markerColor(value.casesPerOneMillion);

            var  marker = getMarker(markerColorVar);

            L.marker([value.lat, value.lon], {icon: marker}).addTo(layerGroupYesterday)
                .bindPopup("<b><center>" + value.country + "</b></center>" + "<br> Cases: " + value.cases + "<br>Cases/1M pop: " + value.casesPerOneMillion)
                .openPopup()
        })

    </script>
</body>
</html>